body {
  font-family: 'Arial', sans-serif;
}

.app-content {
  padding: 24px;
}

.loading {
  text-align: center;
  padding: 50px 0;
}

.app-content {
  padding: 24px;
  background-color: #f0f2f5;
}

.ant-layout-header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.ant-layout-content {
  margin-top: 64px;
  padding: 0 50px;
  min-height: 280px;
  background: #fff;
}

.ant-layout-footer {
  text-align: center;
}